# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv

RAILS_SECRET_KEY_BASE=f8492c2f46d1cf0c4d3499d4854f0e80f8f654b07cf4b99959ed6138c79d435c6f195cb665b758ea7a41219df7382d80f8652a9259df12a2ce2b35dfb1b9df30
SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=password
