<% provide(:title, "Properties for "+@location) %>
<%-# debugger %>
<% if @propertylistings.any? %>
    <table class="table-striped table table-hover property-listing" style="width:100%">
    <%= render @propertylistings %>
    <%-# render partial: "propertylisting", collection: @propertylistings %>
</table>
<% else %>
    no location given
<% end %>
