<% provide(:title, "Properties for "+@location) %>
<% if @propertylistings.any? %>
    <table class="table-striped table table-hover property-listing table-clickeable" style="width:100%">
        <% @propertylistings.each_with_index do |listing, counter| %>
        <%= render listing,  url: listing_house_path(@location,counter)  %>
    <% end %>
</table>
<% else %>
    no location given
<% end %>
