<% if recent_search["name"] && recent_search["results"] %>
<%# Can't use listing_path as it escapes forward slashes in location searches %>
    <tr data-url="/listings/<%= recent_search["name"].capitalize %>" >
    <td class="recent-search" >
        <%= recent_search["name"].capitalize %>
    </td>
    <td class="recent-search-number" >
        (<%= recent_search["results"].to_i %>)
    </td>
</tr>
<% end %>
