<% provide(:title, "Help") %>
This is a Web-implementation of the PropertyCross project.
It uses Ruby on Rails to fulfill all specification set by the project.

<p>
It was written by <%= link_to "Simon Egli", "http://simon.swiry.ch" %>.
Copyright lies with bbv Software Services AG. 
</p>
