<% provide(:title, "Help") %>
<p>
This is a Web-implementation of the <%= link_to "PropertyCross project", "http://propertycross.com/", :class=>'normal' %>.<br>
It uses Ruby on Rails to fulfill all specification set by the project.
You may find the source code of this web-page at <%= link_to "the GitHub project", "https://github.com/Deadolus/rails-PropertyCross", :class=>'normal' %>
</p>

<p>
It was written by <%= link_to "Simon Egli", "http://simon.swiry.ch",  :class=>"normal"%>.<br>
Copyright lies with <%= link_to "bbv Software Services AG", "http://www.bbv.ch", :class=>"normal"%>. 
</p>
