<% if property_listing then %>
    <tr class="property" data-url="<%= url %>">
            <td>
            <%= image_tag(property_listing.thumb_url).html_safe %>
        </td>
        <td class="house-title">
        <%=  property_listing.title %>
</td>
    </tr>
<% else %>
        <tr colspan="2">
        no valid listing 
    </tr>
<% end %>
