<% if property_listing then %>
    <%#= link_to image_tag(property_listing.thumb_url).html_safe+property_listing.title , '#' %>
    <tr class="property" data-url=<%= listing_house_path(@location,property_listing_iteration.index) %>>
            <td  >
            <%= image_tag(property_listing.thumb_url).html_safe %>
        </td>
        <td>
        <%=  property_listing.title %>
</td>
    </tr>
<% else %>
        <tr colspan="2">
        no valid listing 
    </tr>
<% end %>
