ol.property-listing {
    list-style-type: none;
    li {
        font-size: 2em;
    }
}

ul.recent-searches {
    list-style-type: none;
    &,a {
        &:hover {
            text-decoration: none
        }

    }
}
li.recent-search {
    font-size: 2em;
    margin: 2rem;
    &:hover {
        background-color: silver;
        font-weight: bold;
    }
}
h2.recent-searches {
    font-size: 2.5em;
    font-weight: bold;
}
li.property {
    margin: 10px;
    &:hover {
        background-color: silver;
        font-weight: bold;
    }
}

